@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --front-color: hsl(0, 0%, 100%);
  /* --neon-color: #ff00ff; */
  --bkgd-color: hsl(261, 51%, 51%);
  --light-purple-color: hsl(261, 51%, 98%);
  --grey-color: hsl(0, 0%, 85%);
  --dark-grey-color: hsl(0, 0%, 44%);

  /* color-scheme: normal; */
}

/*//////////////////////
display: flex;
align-items: center;
justify-content: center;
//////////////////////*/

/*//////////////////////////////////////////////////////
overflow=hidden, fixed side/top scroll on phone screen
//////////////////////////////////////////////////////*/

/*////////////////////////////////////////
The Asterisk is global on all websites
////////////////////////////////////////*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bkgd-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  font-family: "Assistant";
}
/*////////////////////////////////////////
NAVIGATION
////////////////////////////////////////*/

nav {
  height: 150px;
  width: 100%;
  background-color: var(--bkgd-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 17px 14px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-bottom: 1px solid #b892ff;
  position: sticky;
  top: 0;
}
.logo-container {
  padding-left: 3rem;
}
.logo-circle {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  color: var(--bkgd-color);
  text-align: center;
  background-color: var(--front-color);
  border-radius: 50%;
  font-family: "Assistant";
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}
.menu {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 1rem 6rem;
  /* border: 2px solid white; */
  font-family: "Work Sans";
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
}
li a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*///////////////////////////////////
MAIN CONTENT
///////////////////////////////////*/

main {
  width: 100%;
  /* height: calc(100vh - 175px); */
  /* min-height: 450px; */
  /* min-height: calc(100vh - 200px - 22px); */
  background-color: var(--light-purple-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  /* border: 20px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 150px;
  padding-bottom: 250px;
}
.intro {
  width: 550px;
  display: flex;
  color: black;
  flex-direction: column;
}
.hiJoe {
  display: flex;
  font-family: "Assistant";
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.passionPhrase {
  display: flex;
  font-family: "Assistant";
  font-size: 2.25rem;
  font-weight: 400;
  padding: 1rem 0 3rem 0;
  letter-spacing: -1px;
}
.viewWork {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Assistant";
  font-size: 2rem;
  font-weight: 700;
  width: 275px;
  background-color: var(--bkgd-color);
  border: none;
  border-radius: 5px;
  color: var(--front-color);
}
.viewWork a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.myIcons {
  display: flex;
  justify-content: space-around;
  color: black;
  width: 900px;
  /* border: solid ; */
}
.html5,
.css3,
.jScript {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  font-family: "Assistant";
  font-weight: 700;
  font-size: 2rem;
  color: black;
  letter-spacing: -0.1rem;
}
i.fab {
  /* color: var(--bkgd-color); */
  font-size: 10rem;
  color: var(--bkgd-color);
}

/*//////////////////////////////
PORTFOLIO SECTION
//////////////////////////////*/
.portfolio {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* margin: 300px 0; */
  padding-top: 75px;
  margin-bottom: 175px;
}

.portfolio > header {
  height: 60px;
  /* width: 100%; */
  /* border: solid 1px black; */
  color: var(--bkgd-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 12rem 0 6rem 0;
}
.portfolio-container {
  display: flex;
  /* flex-direction: row; */
  /* width: auto; */
  margin: 0 auto;
  /* border: solid 1px red; */
  background-color: var(--front-color);
}
.portfolio-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: black;
  padding-left: 3rem;
  /* flex-grow: 1; */
}
.portfolio-title {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
  color: var(--dark-grey-color);
}
.portfolio-description {
  max-width: 500px;
  /* margin: 0 auto; */
  display: flex;
  font-size: 1rem;
  font-weight: 500;
}
.portfolio-image {
  /* height: 350px; */
  /* width: 400px; */
  display: flex;
  padding: 1rem;
  max-width: 500px;

  box-shadow: 0px 5px 17px 14px rgba(0, 0, 0, 0.15);
}
.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*//////////////////////////////
CONTACT SECTION
//////////////////////////////*/
.contact {
  width: 100%;
  /* height: 400px; */
  display: flex;
  /* flex-direction: column; */
  margin-top: 300px;
  padding-bottom: 50px;
  padding-top: 200px;
  border: solid 1px orangered;
}
.contact-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto;
  border: solid 1px orangered;
  background-color: var(--front-color);
}
.contact-info {
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: white;
  background-color: var(--bkgd-color);
  padding-left: 3rem;
  border: solid 2px blue;
  /* flex-grow: 1; */
}
.contact-title {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 0;
}
.contact-description {
  width: 450px;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-right: 3rem;
}
.contact-form {
  /* width: 450px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.form-group > label {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem;
}
.form-group > input {
  width: 400px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 0.8rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.form-group > textarea {
  width: 400px;
  height: 150px;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 0.8rem;
  padding-top: 0.3rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.form-group > button {
  width: 150px;
  height: 50px;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--front-color);
  color: var(--dark-grey-color);
  border: none;
  border-radius: 5px;
  margin: 2rem 0;
}
.social-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 650px;
  height: auto;
  flex-direction: column;
  /* border: solid 4px green; */
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  /* background-color: white; */
  /* border: solid 4px green; */
}
.social-icon > i.fab {
  color: var(--bkgd-color);
  font-size: 8rem;
  /* background-color: white; */
  border-radius: 15px;
  height: auto;
  width: auto;
  /* box-shadow: 0px 5px 17px 14px rgba(0, 0, 0, 0.15); */
}

/*//////////////////////////////
FOOTER SECTION
//////////////////////////////*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  font-family: "Work Sans";
  font-size: 1rem;
  height: 2rem;
  /* flex-shrink: 0; */
}
/*/////////////////////////
PHONE SCREEN SIZE
////////////////////////*/
@media (max-width: 480px) {
  .portfolio-container {
    flex-direction: column;
  }
  .portfolio-info {
    width: 100%;
    padding-left: 0;
  }
  .portfolio-image {
    height: auto;
    width: 100%;
  }
  .menu {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .logo-container {
    padding-left: 0;
  }
  .logo-circle {
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }
  main {
    /* min-height: 50px; */
  }
  .main-content {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiJoe {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .passionPhrase {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 6rem;
    padding-left: 1rem;
  }
  .viewWork {
    font-size: 1.5rem;
    font-weight: 600;
    width: 200px;
    padding-bottom: 0.2rem;
  }
  .html5,
  .css3,
  .jScript {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 3rem;
    letter-spacing: 0;
  }

  i.fab {
    font-size: 8rem;
  }
  .myIcons {
    flex-direction: column;
  }
  .portfolio > header {
    font-size: 3rem;
  }
  .portfolio-container {
    flex-direction: column;
  }
  .portfolio-info {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .portfolio-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .portfolio-description {
    /* height: auto; */
    /* width: 100%; */
    padding-bottom: 2rem;
    /* flex-wrap: wrap; */
  }
  .portfolio-image {
    /* height: 250px; */
    /* width: auto; */
    /* max-width: 100%; */
    /* min-height: 250px; */
  }
  .contact {
    flex-direction: column;
    border: solid 2px red;
  }
  .contact-container {
    flex-direction: column-reverse;
  }
  .contact-title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .contact-description {
    width: 200px;
    padding-left: 0;
  }
}
