@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700;800&display=swap");

:root {
  --front-color: #ffffff;
  --neon-color: #ff00ff;
  --bkgd-color: #6f42c1;
  color-scheme: normal;
}

/*-------------------------/
The Asterisk is global on all websites
/-------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*----------/
overflow=hidden, fixed side/top scroll on phone screen
/----------*/

body {
  background-color: var(--bkgd-color);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

/*////////////////////////////////////////
NAVIGATION
////////////////////////////////////////////*/

nav {
  height: 150px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoCircleContainer {
  padding-left: 3rem;
}
.logo-circle {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  color: var(--bkgd-color);
  text-align: center;
  background-color: white;
  border-radius: 50%;
  font-family: "Assistant";
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-weight: 800;
  color: var(--front-color);
  font-family: "Assistant";
  position: relative;
  left: 40px;
  top: 0px;
  color: #ffffff;
}
.letter:hover {
  color: transparent;
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.8);
  cursor: default;
}
.e {
  padding-left: 0.5rem;
}
.blink {
  animation: blinker 1.5s step-end infinite;
}
@keyframes blinker {
  60% {
    opacity: 0;
  }
}
/*////////////////////////////////////////////
MENU THAT INCLUDES: HOME, WORK, CONTACT
///////////////////////////////////////////*/
.menu {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 1rem 6rem;
  /* border: 2px solid white; */
  font-family: "Work Sans";
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

/*----------/
width=auto, took away side scrolls.
display=flex, then direction helps
/----------*/

/*////////////////////////////////////////////
MAIN CONTENT
///////////////////////////////////////////*/

main {
  width: 100%;
  height: calc(100vh - 175px);
  /* min-height: 450px; */
  /* min-height: calc(100vh - 200px - 22px); */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*=================
TARGET CENTER
|||||||||||||||||||||
display: flex;
align-items: center;
justify-content: center;
==================*/
.lineFadeContainer {
  width: 100%;
  height: 100px;
  /* top: 0px; */
  position: absolute;
  top: 150px;
  transform: scaleY(0.3);
  transform-origin: top;
}
.lineBar {
  width: 100%;
  height: 25px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.1rem 0 0 0;
}
.lineBar:nth-child(2) {
  width: 100%;
  height: 20px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.4rem 0 0 0;
}
.lineBar:nth-child(3) {
  width: 100%;
  height: 15px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.75rem 0 0 0;
}
.lineBar:nth-child(4) {
  width: 100%;
  height: 10px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 1rem 0 0 0;
}
.lineBar:nth-child(5) {
  width: 100%;
  height: 5px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 1.25rem 0 0 0;
}
.main-content {
  width: 100%;
  /* border: 20px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.myIcons {
  color: black;
}
i.fab {
  color: #6244C5;
  text-shadow: .4rem .4rem .4rem black;
  font-size: 6rem;
}
.pushME {
  width: 250px;
  height: 250px;
  aspect-ratio: 1 / 1;
  border: 15px solid var(--bkgd-color);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "work Sans";
  font-weight: 800;
  font-size: 2.8rem;
  text-transform: uppercase;
  background-image: 
    linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
footer {
  text-align: center;
  color: white;
  /* border: 2px solid red; */
  margin-top: auto; /*auto keeps the info down*/
  font-family: "Work Sans";
  font-size: 1rem;
}

/***-------
Phone Screen Size
--------**/
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .logoCircleContainer {
    padding-left: 0;
  }
  .logo-circle {
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }
  main {
    /* min-height: 50px; */
  }
  .main-content {
    height: 400px;
  }
  .pushME {
    width: 200px;
    height: 200px;
    font-size: 2rem;
  }
}
