@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --front-color: #ffffff;
  --neon-color: #ff00ff;
  --bkgd-color: #6f42c1;
  --grey-color: #C0C0C0;
  color-scheme: normal;
}

/*//////////////////////
display: flex;
align-items: center;
justify-content: center;
//////////////////////*/

/*//////////////////////////////////////////////////////
overflow=hidden, fixed side/top scroll on phone screen
//////////////////////////////////////////////////////*/

/*////////////////////////////////////////
The Asterisk is global on all websites
////////////////////////////////////////*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bkgd-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
/*////////////////////////////////////////
NAVIGATION
////////////////////////////////////////*/

nav {
  height: 150px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoCircleContainer {
  padding-left: 3rem;
}
.logo-circle {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  color: var(--bkgd-color);
  text-align: center;
  background-color: white;
  border-radius: 50%;
  font-family: "Assistant";
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-weight: 800;
  color: var(--front-color);
  font-family: "Assistant";
  position: relative;
  left: 40px;
  top: 0px;
  color: #ffffff;
}
.menu {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 1rem 6rem;
  /* border: 2px solid white; */
  font-family: "Work Sans";
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
}

/*///////////////////////////////////
MAIN CONTENT
///////////////////////////////////*/

main {
  width: 100%;
  height: calc(100vh - 175px);
  /* min-height: 450px; */
  /* min-height: calc(100vh - 200px - 22px); */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lineFadeContainer {
  width: 100%;
  height: 100px;
  /* top: 0px; */
  position: absolute;
  top: 150px;
  transform: scaleY(0.3);
  transform-origin: top;
}
.lineBar {
  width: 100%;
  height: 25px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.1rem 0 0 0;
}
.lineBar:nth-child(2) {
  width: 100%;
  height: 20px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.4rem 0 0 0;
}
.lineBar:nth-child(3) {
  width: 100%;
  height: 15px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 0.75rem 0 0 0;
}
.lineBar:nth-child(4) {
  width: 100%;
  height: 10px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 1rem 0 0 0;
}
.lineBar:nth-child(5) {
  width: 100%;
  height: 5px; /*each proceeding line decrease 5px*/
  background-color: var(--bkgd-color);
  margin: 1.25rem 0 0 0;
}
.main-content {
  width: 100%;
  /* border: 20px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: solid;
  padding-top: 150px;
  padding-bottom: 250px;
}
.intro {
  width: 550px;
  display: flex;
  color: black;
  flex-direction: column;
}
.hiJoe {
  display: flex;
  font-family: 'Assistant';
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.passionPhrase {
  display: flex;
  font-family: 'Assistant';
  font-size: 2.25rem;
  font-weight: 400;
  padding: 1rem 0 3rem 0;
  letter-spacing: -1px;
}
.viewWork {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Assistant';
  font-size: 2rem;
  font-weight: 700;
  width: 250px;
  background-color: var(--bkgd-color);
  border: none;
  border-radius: 5px;
  color: white;
}
.myIcons {
  display: flex;
  justify-content: space-around;
  color: black;
  width: 900px;
  /* border: solid ; */
}
.html5 ,.css3 ,.jScript{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  font-family: 'Assistant';
  font-weight: 700;
  font-size: 2rem;
  color: black;
  letter-spacing: -.1rem;
}
i.fab {
  color: var(--bkgd-color);
  font-size: 10rem;
}
/*//////////////////////////////
ABOUT SECTION
//////////////////////////////*/
.about {
  width: 100%;
  height: 400px;
  color: black;
  border: solid;
  font-size: 4rem;
}
.jmbotron {
  margin-bottom: 0rem;
  margin-top: 0;
  padding: 0rem 2rem 2rem;
  border-radius: 0;
  background-color: var(--front-color);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  border: 2px solid red;
  margin-top: auto;   /*//// auto keeps the info down */
  font-family: "Work Sans";
  font-size: 1rem;
  flex-shrink: 0;
}
/*/////////////////////////
PHONE SCREEN SIZE
////////////////////////*/
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .logoCircleContainer {
    padding-left: 0;
  }
  .logo-circle {
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }
  main {
    /* min-height: 50px; */
  }
  .main-content {
    height: 400px;
  }
  .pushME {
    width: 200px;
    height: 200px;
    font-size: 2rem;
  }
  i.fab {
    font-size: 8rem;
  }
  .myIcons{
    flex-direction: column;
  }
}
