@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}


header {
  background-image: url(../img/retro.png);
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Play', sans-serif;
  font-size: 3.5rem; 
  font-weight: 700;
}

/*Iphone 11 of mine width: 414px and height: 895px*/
@media only screen and (max-width: 375px) {
  h3 {
    font-size: 2.7rem;
    font-weight: 700;
  }
}