.hl {
    background: #7d56fa;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.bg {
    background: #C8D3D5;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}


/*  Cultured            FCFAFA
    Light Gray          C8D3D5
    Cadet Blue Crayola  A4B8C4
    Steel Teal          6E8387
    Dark Pastel Green   0CCA4A
*/


