@import url('https://rsms.me/inter/inter.css');

/* GLOBAL */
* { 
    font-family: 'Inter'; 
    /* background-color: #FCFFF8; */
}

/* GARIBALDI LOGO */
.navbar-brand img {
    max-height: 75px;
    margin-left: 5rem;
}

/* NAVBAR SIDE*/
.offcanvas-body {
    text-transform: capitalize;
}

/* HERO SECTION */
.background-splash {
    background: url('../img/tacos_full.png') no-repeat  center center fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}
.background-splash button {
    text-transform: uppercase;
    background-color: #97D811;
    color: #ffffff;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
}
.background-splash button:hover {
    background-color: #7db312;
    color: #ffffff;
}

/* MENU SECTION */
.section-title {
    text-align: left;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 0;
    color: #6A6A6A;
    border-bottom: #6A6A6A solid 2px;
    padding-top: 5rem;
    margin-bottom: 2rem;
    max-width: 20%;
}
.card-header {
    text-align: center;
}
.card-header .nav-link {
    color: #6A6A6A;
    font-size: 2rem;
    font-weight: medium;
    text-transform: capitalize;
}


