@import url('https://rsms.me/inter/inter.css');

/* GLOBAL */
* { 
    font-family: 'Inter'; 
    /* background-color: #FCFFF8; */
}

/* GARIBALDI LOGO */
.navbar-brand img {
    max-height: 75px;
    margin-left: 5rem;
}

/* NAVBAR SIDE*/
.offcanvas-body {
    text-transform: capitalize;
}

/* HERO SECTION */
.background-splash {
    background: url('../img/tacos_full.png') no-repeat  center center fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}
.background-splash button {
    text-transform: uppercase;
    background-color: #97D811;
    color: #ffffff;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
}
.background-splash button:hover {
    background-color: #7db312;
    color: #ffffff;
}

/* MENU SECTION */
.section-title {
    text-align: left;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 0;
    color: #6A6A6A;
    border-bottom: #6A6A6A solid 2px;
    padding-top: 5rem;
    margin-bottom: 2rem;
    max-width: 30%;
}



.nav-pills {
    color: #6A6A6A;
    font-size: 1.7rem;
    font-weight: medium;
    text-transform: capitalize;
}
.nav-pills .nav-item {
    padding: .1rem .1rem;
}
/* PILL THAT IS SELECTED */
.nav-pills .nav-item .nav-link {
    background-color: #97D811;
    border: #97D811 solid 2px;
}
/* PRIMARY FROM BLUE BUTTON */
.nav-pills .nav-item .nav-link.active {
    background-color: #97D811;
    font-weight: 500;
}


/* NOT ACTIVE PILLS */
.nav-pills .nav-item .nav-link:not(.active){
    background-color: #ffffff;
    border: #97D811 solid 2px;
    color: #6A6A6A;
}
/* HOVER OVER THE NON-ACTIVE PILLS */
.nav-pills .nav-item .nav-link:not(.active):hover {
    color: #6A6A6A;
    text-decoration: none;
}
.tab-pane {
    text-align: center;
    padding-top: 1rem;
}
.tab-pane .col-lg-6 {
    padding: 0 0;
}
.dish-image {
    /* border-radius: 5rem; */
    width: 70px;
    /* filter: drop-shadow(0px 4px 4px #000000); */
    border-radius: 50%;
    float: left;
    padding-left: 1rem;
    /* border: 5px solid rgba(255, 255, 255, 0.2); */
}
.dish-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}
.dish-ingredients{
    text-align: left;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    color: #6A6A6A;
    padding-bottom: 1rem;
}
.dish-ingredients:first-letter {
    text-transform: capitalize;
}
.dish-price {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.menu-item .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
}
.menu-item .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 1rem;
    text-align: left;
}



@media only screen and (max-width: 650px){
	/*Small smartphones [325px -> 425px]*/
    .section-title {
        font-size: 2rem;
        max-width: 40%;
    }
    .nav-pills .nav-item .nav-link{
        font-size: 1rem;
    }
    .dish-title {
        font-size: 1.25rem;
    }
    .dish-ingredients {
        font-size: .75rem;
    }
    .dish-price {
        font-size: 1.25rem;
    }
    .dish-image {
        width: 50px;
        padding-left: 0;
    }
    .menu-item .menu-content {
        margin-left: 55px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: capitalize;
    }
    .menu-item .menu-ingredients {
        margin-left: 55px;
        font-size: .8rem;
    }
}


/*////// ABOUT SECTION /////////*/
.about img {
    width: 100%;
}
.about p{
    font-size: 2rem;

}