@import url('https://rsms.me/inter/inter.css');

/* GLOBAL */
* { 
    font-family: 'Inter'; 
    /* background-color: #FCFFF8; */
}

/* GARIBALDI LOGO */
.navbar-brand img {
    max-height: 75px;
    margin-left: 5rem;
}

/* NAVBAR SIDE*/
.offcanvas-body {
    text-transform: capitalize;
}

/* HERO SECTION */
.background-splash {
    background: url('../img/tacos_full.png') no-repeat  center center fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}
.background-splash button {
    text-transform: uppercase;
    background-color: #97D811;
    color: #ffffff;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
}
.background-splash button:hover {
    background-color: #7db312;
    color: #ffffff;
}

/* MENU SECTION */
.section-title {
    text-align: left;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 0;
    color: #6A6A6A;
    border-bottom: #6A6A6A solid 2px;
    padding-top: 5rem;
    margin-bottom: 2rem;
    max-width: 20%;
}



.nav-pills {
    color: #6A6A6A;
    font-size: 1.7rem;
    font-weight: medium;
    text-transform: capitalize;
}


.nav-pills .nav-item {
    padding: .1rem .1rem;
    
}
/* PILL THAT IS SELECTED */
.nav-pills .nav-item .nav-link {
    background-color: #97D811;
    border: #97D811 solid 2px;
}
/* PRIMARY FROM BLUE BUTTON */
.nav-pills .nav-item .nav-link.active {
    background-color: #97D811;
    font-weight: 500;
}


/* NOT ACTIVE PILLS */
.nav-pills .nav-item .nav-link:not(.active){
    background-color: #ffffff;
    border: #97D811 solid 2px;
    color: #6A6A6A;
}
/* HOVER OVER THE NON-ACTIVE PILLS */
.nav-pills .nav-item .nav-link:not(.active):hover {
    color: #6A6A6A;
    text-decoration: none;
}
.tab-pane {
    text-align: center;
    padding: 2rem;
}
.dish-image {
    border-radius: 5rem;
    width: 70px;
}
.dish-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}
.dish-ingredients{
    text-align: left;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    color: #6A6A6A;
}
.dish-ingredients:first-letter {
    text-transform: capitalize;
}

.dish-price {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}





/*////// ABOUT SECTION /////////*/
.about img {
    width: 100%;
}
.about p{
    font-size: 2rem;

}