@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/* 
Color layout
purple is #800080
pink is #FF5599
teal is #5FD35F
*/

/*
TABLE OF CONTENTS
GLOBAL ELEMENTS
NAVIGATION
SPLASH PAGE
ABOUT
SPECIALS
MENU
CONTACT
FOOTER
MEDIA QUERIES
*/



/* GLOBAL ELEMENTS */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
  color: black;
}

p {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 900;
}

h6 {
  font-weight: 100;
  font-size: 1.1rem;
}

h3.heading {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.title {
  padding-bottom: 3rem;
}

.offset:before {
  display: block;
  content: "";
  height: 4.5rem;
  margin-top: -4.5rem;
}

.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: #fff;
  background: #151f28;
  padding: 10px 20px;
  display: none;
}

.to-top:hover {
  color: #151f28;
  background: #fff;
}


/* NAVIGATION */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px black;
  background: #800080 !important;
}

.navbar-brand img {
  height: 3.3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
  padding-bottom: .95rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #5FD35F;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #5FD35F;
}

.fixed-top {
  -webkit-backface-visibility: hidden;
}

/* =====SPLASH PAGE===== */
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  background-image: url(../img/splash.jpg);
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.splash {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: .3rem;
  text-shadow: .2rem .2rem .3rem black;
  padding-bottom: 1rem;
}

.btn-lg {
  border-color: #FF5599;
  border-width: medium;
  border-radius: 15px;
  padding: .6rem 1.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: rgb(36, 36, 36);
  color: #FF5599;
}

.btn-lg:hover {
  color: #5FD35F;
}

.modal-content {
  background-color: rgba(128, 0, 128, .8);
  color: white;
}

.white {
  color: white;
}

/* =====ABOUT===== */
.narrow {
  width: 100%;
  margin: 1.5rem auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about-body {
  margin-bottom: 0rem;
  margin-top: 0;
  padding: 0rem 2rem 2rem;
  border-radius: 0;
  background-color: white;
}

.about h6 {
  line-height: 2;
}

.about h2 {
  font-weight: 900;
  font-size: 2.3rem;
  padding-bottom: 1.5rem;
}

/* =====SPECIALS===== */


.specials-title {
  padding-bottom: 2rem;
}

.fixed {
  background-image: url(../img/SpecialsBackground.jpg);
  z-index: -1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.fixed-background {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.dark {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1.5rem 2rem 5rem;
}

.special-col {
  height: 500px;
  width: 375px;
  background-color: white;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3%;
}

.specials {
  padding-bottom: 2rem;
}

.specials h3 {
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.specials h6 {
  color: #363636;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.specials img {
  width: 275px;
  height: 275px;
}

/* =====MENU===== */

.menu-body {
  margin-bottom: 0rem;
  margin-top: 0;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 0;
  background-color: white;
}


.ftco-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important;
}

@media screen and (max-width: 576px) {
  .ftco-tab-nav {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.ftco-tab-nav li {
  padding: 0;
  margin: 0 5px;
  display: inline-block !important;
}

@media screen and (max-width: 576px) {
  .ftco-tab-nav li {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.ftco-tab-nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 0 !important;
}

.ftco-tab-nav li a.active {
  background: none !important;
  color: black !important;
  border: 2px solid #000;
}



.menu-item {
  margin-bottom: 30px;
}

.menu-item img {
  width: 100px;
  border-radius: 20%;
}

.menu {
  padding-bottom: 2rem;
}

.menus-col {
  height: 500px;
  width: 100%;
  background-color: rgb(146, 146, 146);
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

/* =====CONTACT===== */
.contact {
  background-color: #800080;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 0rem;
  text-shadow: .4rem .4rem .4rem black;
  height: auto;
}

/* ===== FOOTER ===== */
footer {
  background-color: #1f2833;
  color: white;
  padding: 2rem 0 0;
  margin-top: 0rem;
  text-shadow: .4rem .4rem .4rem black;
}

footer img {
  height: 3rem;
  margin: 1rem 0 1rem 0;
}

footer a:hover {
  color: #45a29e;
  text-decoration: none;
}

footer p {
  font-size: 1.2rem;
}

footer h2 {
  font-size: 1.4rem;
}

footer i.fab {
  font-size: 2.3rem;
  margin: 0 1rem 1rem 1rem;
  color: white;
}

footer i.fab:hover {
  color: #45a29e !important;
}

/*========MEDIA QUERIES=======*/
@media (max-width: 767px) {

  .jumbotron-heading {
    padding: 1rem 1rem 1rem 1rem;
  }

  .title img {
    height: 50px;
  }

  .about h6 {
    font-weight: 100;
    font-size: .8rem;
  }

  .about h2 {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .about img{
    width: 350px;
  }

  .special-col {
    height: 400px;
    width: 275px;
    background-color: white;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 3%;
    font-size: .5rem;
  }

  .special-col h3{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .special-col img{
    height: 200px;
  }

  .specials h6{
    font-size: .8rem;
  }

  .media-body p{
    font-size: .8rem;;
  }

  
}