@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

/*OFFICIAL COLORS for Javascript Language*/ 
:root {
    --minion-yellow: #F0DB4F;
    --dark-charcoal: #323330;
    --main-background: #161616;
    --main-font: #bbbbbb;
}

body {
    background-color: var(--main-background);
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Assistant';
}

.jsfunctions {
    color: var(--main-font);
    font-size: 2rem;
    top: 50px;
    left: 150px;
    position: absolute;
    display: none;
}

.js-container{
    display: flex;
    flex-direction: column ;
}

.Js-icon {
    width: 6rem;
    height: 6rem;
    color: var(--dark-charcoal);
    background-color: var(--minion-yellow);
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    cursor: pointer;
}

.click-me {
    display: flex;
    color: #fff;
    font-size: 1.35rem;
    justify-content: center;
}