@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  --front-color: #ffffff;
  --neon-color: #ff00ff;
  --bkgd-color: #222;
}

body {
  background-color: #6f42c1;
  margin: 0;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 6rem;
  color: var(--front-color);
  font-family: 'Raleway';
  font-weight: 800;
  position: relative;
  padding-left: 2rem;
  padding-top: 1rem;
}

.j {
  padding-left: 1.2rem;
}

.e:hover {
  animation: rotation 2000ms ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------/
width=auto, took away side scrolls.
display=flex, then direction helps
/----------*/


.lincoln {
  display: flex;
  flex-direction: column;
  color: var(--front-color);
  font-family: 'Raleway';
  position: absolute;
  top: 200px;
  margin: 0;
  border: 2px solid var(--front-color);
  width: 100%;
}
.lincoln p {
  font-style: italic;
  font-size: 3.3rem;
  line-height: 140%;
  text-align: center;
  margin: 0;
}
.lincoln h3 {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

/***THIS IS A NOTE FOR LATER**/

@media (max-width: 480px) {
    .logo {
    font-size: 2.1rem;
  }
  .lincoln {
    top: 150px;
    border: 2px solid var(--front-color);
  }
  .lincoln p{
    font-size: 1.2rem;
    line-height: 170%;
  }
  .lincoln h3 {
    font-size: 1.2rem;
  }
}
