@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --front-color: #ffffff;
  --neon-color: #ff00ff;
  --bkgd-color: #6f42c1;
  color-scheme: normal;
}

/*----------/
overflow=hidden, fixed side/top scroll on phone screen
/----------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bkgd-color);
  margin: 0;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

nav {
  height: 150px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 5rem;
  font-weight: 900;
  color: var(--front-color);
  font-family: 'Work Sans';
  position: relative;
  left: 40px;
  top: 10px;
  margin: 0;
  color: #FFFFFF;
}

.e {
  padding-left: .8rem;
}

.menu {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

li {
  padding: 1rem 5rem;
  /* border: 2px solid white; */
  font-family: 'Work Sans';
  font-size: 1.2rem;
  text-transform: uppercase;
}


/*----------/
width=auto, took away side scrolls.
display=flex, then direction helps
/----------*/


.lincoln {
  display: flex;
  flex-direction: column;
  color: var(--front-color);
  font-family: 'Raleway';
  position: absolute;
  top: 275px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.lincoln p {
  font-style: italic;
  font-size: 4rem;
  line-height: 140%;
  text-align: center;
  margin: 0;
}
.lincoln h3 {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

/***-------

--------**/

@media (max-width: 480px) {
  .logo {
    font-size: 2.5rem;
    left: 0px;
    top: 5px;
    align-items: center;
    justify-content: center;
    /* text-shadow: -4px 4px 1px #777777; */
    stroke-width: 10px;
    stroke: #333333;
  }
  .j {
    padding-left: .6rem;
  }
  .e {
    padding-left: .25rem;
  }
  .lincoln {
    top: 150px;
  }
  .lincoln p{
    font-size: 1.4rem;
    line-height: 170%;
  }
  .lincoln h3 {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}
