
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700;800&display=swap');

:root {
  --front-color: #ffffff;
  --neon-color: #ff00ff;
  --bkgd-color: #6f42c1;
  color-scheme: normal;
}

/*-------------------------/
The Asterisk is global on all websites
/-------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*----------/
overflow=hidden, fixed side/top scroll on phone screen
/----------*/

body {
  background-color: var(--bkgd-color);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

/*////////////////////////////////////////
NAVIGATION
////////////////////////////////////////////*/

nav {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-weight: 800;
  color: var(--front-color);
  font-family: 'Assistant';
  position: relative;
  left: 40px;
  top: 0px;
  color: #FFFFFF;
}
.letter:hover {
  color: transparent;
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.8);
  cursor: default;
}
.e {
  padding-left: .8rem;
}
.blink {
  animation: blinker 1.5s step-end infinite;
}
@keyframes blinker {
  60% {
    opacity: 0;
  }
}
.menu {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 1rem 6rem;
  border: 2px solid white;
  font-family: 'Work Sans';
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}


/*----------/
width=auto, took away side scrolls.
display=flex, then direction helps
/----------*/



/* //////////////////////////////////////////////////////
MAIN CONTENT
/////////////////////////////////////////// */

main {
  width: 100%;
  height: auto;
  /* min-height: calc(100vh - 200px - 22px); */
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=================
TARGET CENTER
|||||||||||||||||||||
display: flex;
align-items: center;
justify-content: center;
==================*/

.main-content{
  width: 700px;
  height: 700px;
  background-color: #424242;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-circle{
  width: 80px;
  height: 80px;
  color: var(--bkgd-color);
  text-align: center;
  background-color: white;
  border-radius: 50%;
  font-family: 'Assistant';
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}









.about {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer {
  text-align: center;
  color: white;
  /* border: 2px solid red; */
  margin-top: auto; /*auto keeps the info down*/
  font-family: 'Work Sans';
  font-size: 1rem;
}

/***-------
Phone Screen Size
--------**/
@media (max-width: 480px) {
  .logo {
    font-size: 2.5rem;
    left: 0px;
    top: 5px;
    align-items: center;
    justify-content: center;
    /* text-shadow: -4px 4px 1px #777777; */
    stroke-width: 10px;
    stroke: #333333;
  }
  .j {
    padding-left: .6rem;
  }
  .e {
    padding-left: .25rem;
  }
  .menu{
    display: none;
  }
  nav{
    justify-content: center;
  }
}